_format_version: "3.0"

services:
  - name: catalogue-service
    url: http://catalogue:3001
    routes:
      - name: catalogue-route
        paths:
          - /catalogue
        strip_path: false
  - name: cart-service
    url: http://cart:3002
    routes:
      - name: cart-route
        paths:
          - /carts
        strip_path: false
  - name: order-service
    url: http://order:3003
    routes:
      - name: order-route
        paths:
          - /orders
        strip_path: false

plugins:
  - name: opentelemetry
    config:
      traces_endpoint: http://otel-collector:4318/v1/traces
      logs_endpoint: http://otel-collector:4318/v1/logs
      access_logs_endpoint: http://otel-collector:4318/v1/logs
      metrics:
        endpoint: http://otel-collector:4318/v1/metrics
        push_interval: 20
        enable_bandwidth_metrics: true
        enable_latency_metrics: true
        enable_request_metrics: true
        enable_upstream_health_metrics: true
        enable_consumer_attribute: true
      