name: APIOps

on:
  push:
    branches:
      - main
    paths:
      - schema/*.yaml
      - .github/workflows/apiops.yaml
      - dev-portal/**
      - config/kong/global-plugins.yaml

jobs:
  apiops:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup inso cli
        uses: shukawam/setup-inso@v2
        with:
          inso-version: 11.2.0
          compression: tar.xz
      - name: Setup deck cli
        uses: kong/setup-deck@v1
        with:
          deck-version: 1.54.0
      - name: Linting OpenAPI Spec
        run: |
          inso lint spec ./schema/cart.yaml
          inso lint spec ./schema/catalogue.yaml
          inso lint spec ./schema/order.yaml
      - name: Convert OAS to decK format
        run: |
          deck file openapi2kong -s ./schema/cart.yaml -o cart.yaml
          deck file openapi2kong -s ./schema/catalogue.yaml -o catalogue.yaml
          deck file openapi2kong -s ./schema/order.yaml -o order.yaml
      - name: Merge each APIs and global plugins
        run: |
          deck file merge \
            -o kong.yaml \
            cart.yaml \
            catalogue.yaml \
            order.yaml \
            config/kong/global-plugins.yaml
      - name: Validate decK config
        run: |
          deck gateway validate \
            --konnect-compatibility \
            --konnect-control-plane-name ${{ secrets.KONNECT_CONTROL_PLANE_NAME }} \
            --konnect-token ${{ secrets.KONNECT_TOKEN }} \
            kong.yaml
      - name: Diff from current env
        run: |
          deck gateway diff \
            --konnect-control-plane-name ${{ secrets.KONNECT_CONTROL_PLANE_NAME }} \
            --konnect-token ${{ secrets.KONNECT_TOKEN }} \
            kong.yaml
      - name: Dump current state
        run: |
          deck gateway dump \
            --konnect-control-plane-name ${{ secrets.KONNECT_CONTROL_PLANE_NAME }} \
            --konnect-token ${{ secrets.KONNECT_TOKEN }} \
            --skip-defaults \
            -o dumped.yaml
      - name: Backup current state
        uses: actions/upload-artifact@v5
        with:
          name: dump
          path: dumped.yaml
      - name: Sync Kong config
        run: |
          deck gateway sync \
            --konnect-control-plane-name ${{ secrets.KONNECT_CONTROL_PLANE_NAME }} \
            --konnect-token ${{ secrets.KONNECT_TOKEN }} \
            kong.yaml
